@use 'sass:color';

:root {
    --color-primary: hsl(42, 16%, 76%);
    --color-success: hsl(171, 100%, 35%);
    --color-danger: hsl(0, 96%, 38%);
    --color-warning: hsl(44, 100%, 59%);
    --color-info: hsl(192, 76%, 63%);
    --color-link: hsl(208, 100%, 22%);
    --color-dark: hsl(0, 0%, 21%);
    --color-light: hsl(0, 0%, 96%);
    --color-black: hsl(0, 0%, 4%);
    --color-white: hsl(0, 0%, 100%);
    --color-black-bis:	hsl(0, 0%, 7%);
    --color-black-ter:	hsl(0, 0%, 14%);

    --color-grey-darker:	hsl(207, 12%, 18%);
    --color-grey-dark:	hsl(207, 12%, 21%);
    --color-grey:	hsl(207, 12%, 64%);
    --color-grey-light:	hsl(207, 12%, 71%);
    --color-grey-lighter:	hsl(207, 12%, 86%);

    --color-white-ter:	hsl(0, 0%, 96%);
    --color-white-bis: hsl(0, 0%, 98%);
    --color-yellow: hsl(44, 100%, 59%);
    --color-yellow-light: hsl(44, 100%, 69%);
    --color-yellow-lighter: hsl(44, 100%, 79%);
    --color-yellow-dark: hsl(44, 100%, 49%);
    --color-yellow-darker: hsl(44, 100%, 39%);
    --color-green: hsl(171, 100%, 35%);
    --color-green-light: hsl(171, 100%, 45%);
    --color-green-lighter: hsl(171, 100%, 55%);
    --color-green-dark: hsl(171, 100%, 25%);
    --color-green-darker: hsl(171, 100%, 15%);
}

@media(prefers-color-scheme: dark) {
    :root {
        --color-primary: hsl(19, 10%, 62%);
        --color-success: hsl(171, 100%, 35%);
        --color-danger: hsl(0, 56%, 38%);
        --color-warning: hsl(44, 80%, 59%);
        --color-info:  	hsl(208, 100%, 22%);
        --color-link: hsl(192, 76%, 63%);
        --color-dark: hsl(0, 0%, 96%);
        --color-light: hsl(0, 0%, 21%);
        --color-black: hsl(0, 0%, 100%);
        --color-white: hsl(0, 0%, 4%);
        --color-black-bis:	hsl(0, 0%, 98%);
        --color-black-ter:	hsl(0, 0%, 96%);

        --color-grey-darker:	hsl(207, 12%, 86%);
        --color-grey-dark:	hsl(207, 12%, 71%);
        --color-grey:	hsl(207, 12%, 64%);
        --color-grey-light:	hsl(207, 12%, 21%);
        --color-grey-lighter:	hsl(207, 12%, 18%);

        --color-white-ter:	hsl(0, 0%, 14%);
        --color-white-bis: hsl(0, 0%, 7%);
        --color-yellow: hsl(44, 100%, 59%);
        --color-yellow-light: hsl(44, 100%, 69%);
        --color-yellow-lighter: hsl(44, 100%, 79%);
        --color-yellow-dark: hsl(44, 100%, 49%);
        --color-yellow-darker: hsl(44, 100%, 39%);
        --color-green: hsl(171, 100%, 35%);
        --color-green-light: hsl(171, 100%, 45%);
        --color-green-lighter: hsl(171, 100%, 55%);
        --color-green-dark: hsl(171, 100%, 25%);
        --color-green-darker: hsl(171, 100%, 15%);
    }
}

$variants: "primary",
           "success",
           "danger",
           "warning",
           "info",
           "link",
           "dark",
           "light",
           "black",
           "white",
           "yellow", 
           "yellow-light", 
           "yellow-lighter", 
           "yellow-dark", 
           "yellow-darker",
           "green", 
           "green-light", 
           "green-lighter", 
           "green-dark", 
           "green-darker";

$basics: "black", 
        "dark", 
        "white", 
        "light", 
        "black-bis", 
        "black-ter", 
        "grey-darker", 
        "grey-dark", 
        "grey", 
        "grey-light", 
        "grey-lighter", 
        "white-ter", 
        "white-bis";

@each $variant in $variants {
    $color: --color-#{$variant};
    .has-background-#{$variant} {
        background-color: var($color) !important;
    }
    .is-#{$variant} {
        background-color: var($color) !important;
    }
}

@each $variant in $basics {
    .has-text-#{$variant} {
        $color: --color-#{$variant};
        color: var($color) !important;
    }
}

html {
    @extend .has-background-white;
}


.color-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.color-swatch {
    padding: 1rem;
    box-shadow: 0 8px 8px -5px  var(--color-grey-light);
    text-align: left;
    margin-bottom: 1rem;
    margin-right: 1rem;
    @extend .has-background-light;
  }
  .color {
    height: 10rem;
    width: 10rem;
    border: 1px solid var(--color-grey-light);
  }
  .label {
    padding-top: 1rem;
    @extend .has-text-dark;
  }
  .label-code-wrapper {
    width: 120%;
  }
  .label-code {
    padding-left: 0;
    font-size: 0.7em;
    @extend .has-text-grey-dark;
    @extend .has-background-light;
  }